:root {
  --bg-color: #00c8ffe3;
  --black-color: #000;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.Wrapper .Wrapper_row {
  /* width:; */
  display: grid;
  place-content: center;
}
.Wrapper .Row_col .Wrapper_Content button {
  display: block;
  margin: 10px 0px;
  padding: 10px 35px;
  font-family: "Times New Roman", Times, serif;
  color: var(--white-color);
  border-radius: 25px;
  border: none;
  background-color: var(--bg-color);

  font-size: 20px;
  position: relative;
}
.Wrapper .Row_col .Wrapper_Content button:hover {
  animation-name: button_anime;

  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;

  transition: all linear 3s;
}

@keyframes button_anime {
  0% {
    transform: scale(1);
  }
  80% {
    opacity: 0;

    transform: scale(1.5);
  }
}

.Wrapper .Wrapper_row .Wrapper_title h1 {
  transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: var(--black-color);
  text-align: center;
  text-decoration: none;

  animation-duration: 2s;
  animation-name: anime;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;

  transition: all linear 3s;
}
@keyframes anime {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0px);
  }
}
.Marquee_container {
  width: 100%;
  padding: 10px 0px;
  background-color: #00c8ffe3;
}
.Marquee_container marquee {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 24px;
}

.Wrapper_sec_Container {
  display: block;
  border: 1px solid;
  padding: 10px 0px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.Row_col {
  animation-duration: 2s;
  animation-name: anime_one;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes anime_one {
  0% {
    transform: Scale(0);
    opacity: 0;
  }

  100% {
    transform: Scale(1);
  }
}

.Result_div .Reault_Row {
  display: block;
  position: relative;
}
.Result_div .Result_Row article h3 {
  font-family: "Times New Roman", Times, serif;
  /* font-size: medium; */
  text-align: start;
  font-size: 34px;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}
.Result_div .Result_Row article h1 {
  font-size: 54px;
  margin: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: start;
}
